[submodule "cmake/sdl2"]
	path = cmake/sdl2
	url = https://github.com/opeik/cmake-modern-findsdl2
[submodule "lib/luabridge"]
	path = lib/luabridge
	url = https://github.com/vinniefalco/LuaBridge
[submodule "lib/react"]
	path = lib/react
	url = https://github.com/DanielChappuis/reactphysics3d.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/opeik/imgui.git
